@model Student;

<form method="post">
    <label>Name:</label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>

    <br />

    <label>Age:</label>
    <input asp-for="Age" />
    <span asp-validation-for="Age"></span>

    <br />

    <label>Departments:</label>
    <select asp-for="DeptNo" asp-items="ViewBag.departments">
        <option>Select department</option>
    </select>
    <span asp-validation-for="DeptNo"></span>

    <br />

    <input type="submit" value="add" />

    @section Scripts
        {
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }
</form>
